<br />
<div class="container">
	<div class="row">
		<div class="dashboard-login">
			<p class="title to-center"><b><i class="fa fa-lock"></i> Login to your Account</b></p>
			
			<div class="page-icon to-center">
				<i class="fa fa-lock"></i>
			</div>

			<div class="panel panel-default col-md-6 col-md-offset-3">
				<div class="panel-body">
					<form role="form" id="loginForm" class="form-horizontal" onsubmit="return false;">
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">Email address</label>  
							<div class="col-md-12">
								<input id="textinput" name="email" placeholder="email" class="form-control" type="text" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="passwordinput">Password</label>
							<div class="col-md-12">
								<input id="passwordinput" name="password" placeholder="password" class="form-control" type="password" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<button class="btn btn-success btn-block" type="submit">Login</button>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="checkbox no-pad left">
									<label for="checkboxes-0" class="checkbox">
										<input name="remember" class="custom-checkbox" id="checkboxes-0" value="1" type="checkbox" data-toggle="checkbox" />
										<span class="icons">
											<span class="icon-unchecked"></span>
											<span class="icon-checked"></span>
										</span>
										<span class="text">
											Remember my details
										</span>
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>