body
{
	background: $main-body-color;
}

.layout-app
{
	position: relative;
}

.pace .pace-progress
{
	background: $pace-color;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 2px;

	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}

.pace-inactive
{
	display: none;
}

.page-icon
{
	font-size: 120px;
	color: $icon-color-light;
}

.to-center
{
	text-align: center !important;
}

div.checkbox
{
	span.text
	{
		margin-left: 5px;
	}
}

.no-pad
{
	&.left
	{
		padding-left: 0;
	}

	&.right
	{
		padding-right: 0;
	}

	&.top
	{
		padding-top: 0;
	}

	&.bottom
	{
		padding-bottom: 0;
	}
}

.container
{
	background: $colors-white;
}

.container-fluid
{
	padding: 0;
}

#content
{
	background: $main-body-color;
	min-height: 500px;
	min-width: 320px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.navbar
{
	border-radius: 0;
	border-style: none;
	border-width: medium 1px;
	background: $colors-white;
}

.dropdown-menu
{
	background: $colors-white;
	border: thin solid #dfdfdf;
	border-radius: 0;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	border-style: none;
}