/*
 * -----------------------------
 * 	FONTS
 * -----------------------------
 */
$font-weight: 												normal;
$line-height: 												1.65;
$font-size: 													112.5; // percentage value (16 * 112.5% = 18px)
$font-base: 													16 * ($font-size/100); // converts our percentage to a pixel value
$font-family: 												serif; // Non-font-face font-stack
$custom-font-family: 									'Open Sans', sans-serif; // Custom font-face stack, if set will be added to the $font-family
$custom-heading-font-family: 					'Roboto', sans-serif; // Custom font-face stack, if set will be added to the $font-family
$indent-val: 													1.5em;
$paragraph-vertical-whitespace: 			false;
$small-print-size: 										65%;
$amp-fontface-name: 									Ampersand;
$amp-fontface-source: 								local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$amp-fontface-fallback: 							local('Georgia');
$amp-font-family: 										Verdana, sans-serif;
$icon-fonts: 													null;
$tera: 117; 													// 117 = 18 × 6.5
$giga: 90; 														// 90 = 18 × 5
$mega: 72; 														// 72 = 18 × 4
$alpha: 60; 													// 60 = 18 × 3.3333
$beta: 48; 														// 48 = 18 × 2.6667
$gamma: 36; 													// 36 = 18 × 2
$delta: 24; 													// 24 = 18 × 1.3333
$epsilon: 21; 												// 21 = 18 × 1.1667
$zeta: 18; 														// 18 = 18 × 1
$type-scale-unit-value: 							rem;
$pull-quote-fontsize: 								4em;
$pull-quote-opacity: 									0.5;
$cite-display: 												block;
$cite-text-align: 										right;
$cite-font-size: 											inherit;
$small-caps-weight: 									600;
$dropcap-float-position: 							left;
$dropcap-font-size: 									4em;
$dropcap-font-family: 								inherit;
$dropcap-txt-indent: 									0;
$dropcap-margin: 											inherit;
$dropcap-padding: 										inherit;
$dropcap-color:												inherit;
$dropcap-line-height: 								1;
$dropcap-bg: 													transparent;

/*
 * -----------------------------
 * 	COLORS
 * -----------------------------
 */
$main-body-color:											#eaeaea !important;
$body-copy-color: 										#444 !important;
$heading-color: 											#222 !important;
$pull-quote-color: 										#dc976e !important;
$small-caps-color: 										#999 !important;
$icon-color-light:										#dfdfdf !important;
$pace-color:													#1ABC9C !important;
$colors-white:												#fff !important;