@import url(font-awesome.min.css);
@import url(../../plugins/bootstrap/bootstrap.min.css);
@import url(../../plugins/bootstrap/bootstrap-theme.min.css);
/*
 * -----------------------------
 * 	FONTS
 * -----------------------------
 */
/*
 * -----------------------------
 * 	COLORS
 * -----------------------------
 */
body {
  background: #eaeaea !important; }

.layout-app {
  position: relative; }

.pace .pace-progress {
  background: #1ABC9C !important;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s; }

.pace-inactive {
  display: none; }

.page-icon {
  font-size: 120px;
  color: #dfdfdf !important; }

.to-center {
  text-align: center !important; }

div.checkbox span.text {
  margin-left: 5px; }

.no-pad.left {
  padding-left: 0; }
.no-pad.right {
  padding-right: 0; }
.no-pad.top {
  padding-top: 0; }
.no-pad.bottom {
  padding-bottom: 0; }

.container {
  background: #fff !important; }

.container-fluid {
  padding: 0; }

#content {
  background: #eaeaea !important;
  min-height: 500px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.navbar {
  border-radius: 0;
  border-style: none;
  border-width: medium 1px;
  background: #fff !important; }

.dropdown-menu {
  background: #fff !important;
  border: thin solid #dfdfdf;
  border-radius: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-style: none; }

div.dashboard-login .title {
  border-bottom: thin solid #efefef;
  padding: 0.5em 0;
  margin: 0; }

div[role=navigation] .notifications {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative; }
  div[role=navigation] .notifications > li:first-of-type {
    border-left: medium none;
    padding: 0.1em 2em 0.1em 0.1em; }
    div[role=navigation] .notifications > li:first-of-type:hover {
      background: #eaeaea !important; }
  div[role=navigation] .notifications > li .fa {
    color: #ccc;
    font-size: 16px;
    margin: 4px 0 2px;
    display: block; }
  div[role=navigation] .notifications > li .badge {
    height: 18px;
    line-height: 18px;
    padding: 0;
    position: relative;
    width: 18px; }
div[role=navigation] li.dropdown.notif .dropdown-menu {
  left: -2px;
  padding: 0;
  top: 57px;
  width: 280px; }
  div[role=navigation] li.dropdown.notif .dropdown-menu.chat-media-list li.media {
    border-bottom: thin solid #dfdfdf;
    padding: 10px;
    margin: 0; }
    div[role=navigation] li.dropdown.notif .dropdown-menu.chat-media-list li.media h5 {
      font-size: 18px; }
    div[role=navigation] li.dropdown.notif .dropdown-menu.chat-media-list li.media p {
      font-size: 14px; }
    div[role=navigation] li.dropdown.notif .dropdown-menu.chat-media-list li.media:hover {
      background: #eaeaea !important; }
  div[role=navigation] li.dropdown.notif .dropdown-menu.chat-media-list li:last-child {
    color: #fff !important; }
    div[role=navigation] li.dropdown.notif .dropdown-menu.chat-media-list li:last-child a {
      border-radius: 0; }
    div[role=navigation] li.dropdown.notif .dropdown-menu.chat-media-list li:last-child .fa {
      display: inline-block; }
